<!--<div class="nav">
	<a class="nav-item" href=<%- config.rootpath + "/" %>>首页</a>
	<a class="nav-item" href=<%- config.rootpath + "/tag/" %>>标签</a>
	<a class="nav-item" href=<%- config.rootpath + "/about/" %>>关于</a>
	<a class="nav-item" href=<%- config.rootpath + "/friends/" %>>友链</a>
</div>-->
<div class="header">
	<div class="author-wrapper">
		<div class="author" align="center">
			<a class="avatar" href=<%= config.rootpath %>></a>
			<a class="name" href=<%= config.rootpath %>>
				<%= config.author %>
			</a>
			<div class="description">
				<%= config.description %>
			</div>
		</div>
	</div>
</div>