<%
    function getStringFromDate(date) {
        let y = date.getFullYear();
        let m = date.getMonth() + 1;
        let d = date.getDate();
        return `${y}-${m}-${d}`;
    }
%>
<%- include("components/head") -%>
<body>
    <div id="main">
        <%- include("components/bar") -%>
        <%- include("components/header") -%>
        <div class="postlist-wrapper" style="opacity: 0; visibility: hidden;">
            <%- include("components/sidebar") -%>
            <div class="postlist">
                <% for (let i = 0; i < postList.length; ++i) { %>
                <div class="post-wrapper">
                    <div class="post">
                        <% posturl = postList[i].fileName.substring(0, postList[i].fileName.length - 3) %>
                        <a class="title" align="center" href=<%- `"` + config.rootpath + "/" + posturl + `/"` %>><%- postList[i].title %></a>
                        <% ds = getStringFromDate(postList[i].date) %>
                        <div class="subtitle" align="center">发表于 <%- ds %> | <%- config.author %></div>
                        <div class="content"><%- postList[i].intro %></div>
                        <a class="readmore" align="right" href=<%- `"` + config.rootpath + "/" + posturl + `/"` %>>
                            阅读全文
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <% } %>
                <div class="button-wrapper">
                    <% if (!lastPage) { %>
                        <a id="nextpage" href=<%- `"${config.rootpath}/page/${pageCode + 1}/"` %>>下一页</a>
                    <% } %>
                    <% if (pageCode > 1) { %>
                        <%
                            let prehref = `"${config.rootpath}/page/${pageCode - 1}/"`;
                            if (pageCode == 2) {
                                prehref = `"${config.rootpath}/"`;
                            }
                        %>
                        <a id="previouspage" href=<%- prehref %>>上一页</a>
                    <% } %>
                </div>
            </div>
        </div>
        <%- include("components/footer") -%>
    </div>
</body>